.git
**/.git
.venv
.pytest_cache
__pycache__
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd

outputs
data
dataset
datasets

src/models/**/*.pt
src/models/**/*.pth
src/models/**/*.pkl
src/models/**/*.zip

*.ipynb_checkpoints
